@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, label {
  font-family: 'Roboto', sans-serif;
}


@import 'tailwindcss/utilities';

