.text {
  color: #080a0b;
  font-size: 32px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
.text1 {
  color: #5d5d5b;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 18px;
  text-align: center;
}
.text3 {
  color: #080a0b;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 600;
  line-height: 18px;
  padding-top: 30px;
}
.input {
  top: 262px;
  left: 20px;
  width: 360px;
  height: 48px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(3,3,3,0.1);
  background-color: #ffffff;
  color: #a9a9a9;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 20px;
  outline: none;
}

.mail{
  color: #5d5d5b;
  fill: #5d5d5b;
  font-size: 18px;
  top: 279px;
  left: 313px;
  width: 18px;
  height: 16px;
}

.password{
  color: #5d5d5b;
  fill: #5d5d5b;
  font-size: 18px;
  top: 373px;
  left: 313px;
  width: 18px;
  height: 14px;
}

.login {
  cursor: pointer;
  top: 472px;
  left: 20px;
  width: 335px;
  height: 48px;
  padding: 0px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 20px;
  outline: none;
}
.button {
padding-top: 30px;
}
.container {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 1px;
  height: 1px;
  pointer-events: none;
}
.remember {
  color: #080a0b;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 16px;
}
.forgot{
    color: #000000;
    font-size: 12px;
    font-family: "Roboto";
    font-weight: 500;
    line-height: 16px;
    text-align: right;
  }
